

.header .logo{
    position: absolute;
    display: block;
    left: 60px;
    top: 34px;
    font-size: 36px;
    font-weight: bold;
    color: #c60023;
}
.header .search-con{
    padding: 40px 0 30px 250px;
}
.header .search-con .search-input{
    width: 550px;
    hight:40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;
}
.header .search-con .search-btn{
    position: absolute;
    height: 44px;
}